# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/zexh6526/vocte.com"
PassengerBaseURI "/"
PassengerPython "/home/zexh6526/virtualenv/vocte.com/3.10/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv FLASK_ENV development
SetEnv PASSENGER_FRIENDLY_ERROR_PAGES 1
SetEnv PASSENGER_APP_ENV development
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END